* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#user-info {
  border: 1px solid #CCC;
  clear: both;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
  text-align: left;
}

#photo-container {
  background-color: #EEE;
  border: 1px solid #CCC;
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

#photo {
  height: 80px;
  margin: 0;
  width: 80px;
}

@media (max-width: 300px) {
  #photo-container,
  #photo {
    height: 40px;
    width: 40px;
  }
}


nav li{
  display: inline-block;
}
nav li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 22px;
  font-family: 'Oswald';
  font-weight: bold;
  display: block;
  padding: 32px 32px;
  transition: .5s;
}
nav li a:hover {
  background:hsla(9, 100%, 74%, 0.6);
}

input.hidden {
  position: absolute;
  left: -9999px;
  background: "JA.png"
}

#profile-image1 {
  cursor: pointer;

  width: 150px;
  height: 150px;
border:2px solid #ce0379 ;}
.tital{ font-size:16px; font-weight:500;}
.bot-border{ border-bottom:1px #e7583f solid;  margin:5px 0  5px 0}	

#Muro{
  background-color: rgba(230, 131, 66, 0.788);
  margin-top: 20px;
  width: 365px;
  
}
#MuroPrivado{
  background-color: rgba(230, 131, 66, 0.788);
  margin-top: 20px;
  width: 365px;
  
}